.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    178.45deg,
    rgba(22, 22, 22, 0.75) -13.04%,
    rgba(30, 30, 30, 0.62) 40.22%,
    #242424 87.05%
  );
  padding-top: 60px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;
  padding-left: 25px;
  margin-bottom: 70px;
}
.logo img {
  width: 52px;
  object-fit: contain;
}
.logo h2 {
  font-weight: 400;
  font-size: 23px;
  color: white;
}
.side-link {
  font-weight: 400;
  font-size: 23px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding-left: 30px;
  margin-bottom: 50px;
  border-right: 5px solid transparent;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.active-link {
  border-color: var(--orange);
}
.mobile,
.overlay {
  display: none;
}
@media screen and (max-width: 925px) {
  .mobile {
    display: block;
    color: white;
    font-size: 25px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 39;
  }
  .open-overlay {
    display: block;
  }
  .sidebar {
    position: fixed;
    background-color: #242424;
    z-index: 40;
    max-width: 400px;
    width: 100%;
    top: 0;
    left: -600px;
    transition: all 0.8s ease-in-out;
  }
  .sidebar .mobile {
    position: absolute;
    top: 2%;
    right: 4%;
    cursor: pointer;
  }
  .open-side {
    left: 0;
  }
}
