footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  gap: 40px;
  padding-top: 40px;
  border-top: 1px solid var(--orange);
}
.footer-desc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footer-desc h2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--orange);
  line-height: 1;
}
.footer-desc p {
  font-weight: 300;
  font-size: 25px;
  max-width: 850px;
  color: white;
}
.social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 885px) {
  footer {
    flex-direction: column;
  }
  .footer-desc {
    align-items: center;
    text-align: center;
  }
  .footer-desc h2 {
    font-size: 20px;
  }
  .footer-desc p {
    font-size: 16px;
  }
}
